#mapa {
  width: 900px;
  height: 801px;
  font-family: Arial;
}
.col-link {
  width: 315px;
  height: 801px;
  float: left;
}
.col-mapa {
  width: 548px;
  height: 801px;
  background: url('../images/fondo.png') no-repeat;
  float: left;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 5px;
}
#regiones,
#municipios {
  width: 153px;
  float: left;
}
.btn-region {
  padding: 20px;
  width: 110px;
  background: #e1e1e1;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}
.head-norte {
  background: #C41E22;
}
.head-occidente {
  background: #DE2225;
}
.head-oriental {
  background: #C3291F;
}
.head-centro {
  background: #DE2E22;
}
.head-suroriente {
  background: #C3371F;
}
.head-suroccidente {
  background: #DE3E22;
}
.region-son {
  background: #f0f1f1;
  padding: 0 10px;
  margin-bottom: 10px;
  position: absolute;
  display: none;
  width: 120px;
  border-radius: 5px;
}
.region-son a {
  text-decoration: none;
  font-weigth: bold;
  color: #000;
  font-family: arial;
  display: inline-block;
  width: 100%;
  padding: 3px;
}
.region-son a:hover {
  background: #ccc;
}
.mnorte {
  top: 8px;
}
.moccidente {
  top: 76px;
}
.moriental {
  top: 144px;
}
.mcentro {
  top: 212px;
}
.msuroriente {
  top: 280px;
}
.msuroccidente {
  top: 348px;
}
.mostrar-region {
  display: block;
}
.zone-norte {
  width: 262px;
  height: 410px;
  background: url('../images/R1.png') no-repeat;
  position: relative;
  left: 148px;
  top: 47px;
  display: none;
}
.zone-occidente {
  width: 268px;
  height: 603px;
  background: url('../images/R2.png') no-repeat;
  position: relative;
  left: 0;
  top: 0;
  display: none;
}
.zone-oriental {
  width: 158px;
  height: 273px;
  background: url('../images/R3.png') no-repeat;
  position: relative;
  left: 287px;
  top: 283px;
  display: none;
}
.zone-centro {
  width: 172px;
  height: 266px;
  background: url('../images/R4.png') no-repeat;
  position: relative;
  left: 176px;
  top: 382px;
  display: none;
}
.zone-suroriente {
  width: 265px;
  height: 320px;
  background: url('../images/R5.png') no-repeat;
  position: relative;
  left: 283px;
  top: 456px;
  display: none;
}
.zone-suroccidente {
  width: 225px;
  height: 260px;
  background: url('../images/R6.png') no-repeat;
  position: relative;
  left: 244px;
  top: 546px;
  display: none;
}
.indicator {
  width: 30px;
  height: 42px;
  background: url('../images/ubica.png') no-repeat;
  position: relative;
  visibility: hidden;
}
#eltarra {
  top: 144px;
  left: 31px;
}
#tibu {
  top: 96px;
  left: 144px;
}
#sardinata {
  top: 236px;
  left: 120px;
}
#bucarasica {
  top: 201px;
  left: 102px;
}
#ocana {
  top: 313px;
  left: 98px;
}
#laplaya {
  top: 273px;
  left: 138px;
}
#abrego {
  top: 279px;
  left: 139px;
}
#elcarmen {
  top: 100px;
  left: 70px;
}
#convencion {
  top: 72px;
  left: 104px;
}
#teorama {
  top: 39px;
  left: 120px;
}
#sancalisto {
  top: 11px;
  left: 145px;
}
#hacari {
  top: -10px;
  left: 164px;
}
#laesperanza {
  top: 167px;
  left: 105px;
}
#cachira {
  top: 92px;
  left: 193px;
}
#cucuta {
  top: 132px;
  left: 84px;
}
#vrosario {
  top: 120px;
  left: 90px;
}
#lospatios {
  top: 79px;
  left: 78px;
}
#zulia {
  top: 1px;
  left: 49px;
}
#scayetano {
  top: -23px;
  left: 41px;
}
#psantander {
  top: -219px;
  left: 109px;
}
#santiago {
  top: 48px;
  left: 122px;
}
#salazar {
  top: 35px;
  left: 91px;
}
#gramalote {
  top: -45px;
  left: 98px;
}
#arboledas {
  top: -8px;
  left: 96px;
}
#cucutilla {
  top: -16px;
  left: 104px;
}
#lourdes {
  top: -187px;
  left: 87px;
}
#vcaro {
  top: -219px;
  left: 42px;
}
#chinacota {
  top: 54px;
  left: 54px;
}
#labateca {
  top: 110px;
  left: 83px;
}
#toledo {
  top: 64px;
  left: 91px;
}
#herran {
  top: -40px;
  left: 88px;
}
#rangonvalia {
  top: -103px;
  left: 93px;
}
#bochalema {
  top: -155px;
  left: 38px;
}
#durania {
  top: -229px;
  left: 34px;
}
#pamplona {
  top: 40px;
  left: 77px;
}
#pamplonita {
  top: -23px;
  left: 76px;
}
#mutiscua {
  top: -19px;
  left: 47px;
}
#silos {
  top: -32px;
  left: 42px;
}
#chitaga {
  top: -53px;
  left: 72px;
}
#cacota {
  top: -136px;
  left: 80px;
}
